---
import SidebarNavDemo from '../components/SidebarNavDemo.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SidebarNav Component Demo</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body class="bg-gray-100 font-sans">
		<SidebarNavDemo client:only="vue" />
	</body>
</html>